.home {
  width: 100%;
  height: calc(100vh - 11vh);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(/public/landing.png);
  background-size: contain;
  background-position: center;
}

.home h1 {
  font-weight: 900;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.home button {
  height: 50px;
  width: 200px;
  border-radius: 18px;
  outline: none;
  border: none;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.25s ease-in-out;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 700;
  color: darkgray;
}

.home button:hover {
  background: lightgray;
  color: black;
}

@media (max-width: 768px) {
  .home {
    background-size: 150% 100%;
  }
}
